@media screen and (max-width: 600px) {
    #shop_product_search {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .align-middle {
        display: none !important;
        visibility: hidden !important;
    }


    li.nav-item i {
        opacity: 1 !important;
        display: block !important;
        visibility: visible !important;

    }


    .main-active-theme {
        visibility: hidden;
        display: none;
    }
    .itemUserShow span a.role {
        max-width: 135px;
    }

    .bottom-tab-navigator {
        display: block;
    }
    #breadCrumb {
        display: none;
    }
    #headerContent {
        display: none;
    }
    li.nav-item i {
        display: block;
        visibility: visible;
    }

    #theme-item {
        width: 25% !important;
    }

    .header-form-option button {
        font-size: 10px !important;
    }

    .force {
        padding: 0px;
        width: 100% !important;
        height: auto;
    }

    .float-btn {
        display: block !important;
        visibility: visible !important;
    }
    .content-header {
        visibility: hidden;
        clear: both;
        display: none;
    }
    .optionBox {
        top: unset !important;
        bottom: 55px;
        z-index: -1;

    }
    .optionBox#selectedFilter {
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }
    .optionBox#options {
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }
    #actionGroup.actived {
        p {
            text-align: center;
            height: 55px;
            line-height: 4.3;
        }

        padding: 0px !important;
        height: 110px !important;
    }
    #action-btn {
        padding: 0px !important;

        .col-3 {
            visibility: hidden;
            clear: both;
            display: none;
        }
    }
    #mini-click-icons {
        visibility: visible;
        display: block;

    }

    .nav-link {
        i {
            display: block !important;
            visibility: visible !important;
        }
    }

}

@media screen and (max-width: 1024px) {
    #shop_product_search {
        height: 300px;
    }


    li.nav-item i {
        opacity: 1 !important;
        display: block !important;
        visibility: visible !important;
    }


    .align-middle {
        display: none !important;
        visibility: hidden !important;
    }
    .nav-link {
        i {
            display: block !important;
            visibility: visible !important;
        }
    }

    .main-active-theme {
        visibility: hidden;
        display: none;
    }

    a.more-details {
        visibility: visible !important;
        display: block !important;
    }

    .users-list-filter {
        height: 100%;
    }
    #actionGroup.actived {
        p {
            text-align: center;
            height: 55px;
            line-height: 4.3;
        }

        height: 130px !important;
        padding: 0px 30px 0px 0px;
    }
}

@media screen and (max-width: 1600px) {
}


//    -------------  dark mode Emran  -------------
$background: #1a233a;
$color: #bdd1f8;
$itemBackground: #272E48;
$itemBorder: solid 1px #464D5C;
$title: #bdd1f8;
$titleHover: #00e5ff;
$focusHover: solid 1px #00e5ff;
$itemDarkLigth: #2e3652;
body.active-darked {
    background: $background !important;


    table {
        color: $color !important;

        tr {
            background: $itemDarkLigth !important;
        }

        th {
            color: $color !important;
        }
    }

    #category_add_pop_base {
        background: $background !important;
    }

    #back-loadered {
        #fetures {
            border: $itemBorder !important;
            background: $background !important;

            p {
                color: $color !important;
            }

            .bottom-btns {
                background: $itemDarkLigth !important;
                color: $color !important;
                border-top: $itemBorder !important;

                #btn-action {
                    border: $itemBorder !important;
                }
            }
        }
    }


    .deleteRecordButton {
        color: $color !important;
    }

    .checkbox {
        label {
            background: $itemBackground !important;
            color: $color !important;
        }
    }

    .dropdown-menu, .dropdown-menu-right, .show {
        background: $itemBackground !important;
        color: $color !important;

        .dropdown-item {
            color: $color !important;

            &:hover {
                background: $background !important;
            }
        }

        &::before {
            right: 20px !important;
            left: unset !important;
            margin: unset !important;
            background: $itemBackground !important;
        }
    }

    .dropdown-divider {
        border-top: $itemBorder !important;
    }

    .form-control.selectVal {
        background: $itemBackground !important;
        border: $itemBorder !important;
        color: $color !important;
    }

    a:hover span {
        color: $titleHover !important;
    }

    .dropdown-user-link {
        background: $background !important;

        &:focus {
            background: $background !important;
        }
    }

    .dropdown-user {
        .dropdown-menu {
            border: $itemBorder !important;

            &::before {
                width: 15px;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                content: '';
                background-color: $itemBackground !important;
                border: none;
                height: 10px;
                transform: rotate(0deg);
                top: -9px;
            }
        }
    }

    #breadCrumb {
        span {
            color: $color !important;
        }
    }

    .navbar-container {
        background: $background !important;
        color: $color !important;
    }

    #headerContent {
        background: $background !important;
        color: $color !important;
    }

    #chipset-container {
        background: $itemBackground !important;
        border: $itemBorder !important;

        input {
            border-radius: 0px !important;
            background: unset !important;
            border: unset !important;
            margin-top: 3px !important;
            float: right;
        }
    }

    .itemUserShow {
        background: $itemBackground !important;
        color: $color !important;
        border: $itemBorder !important;
    }

    .content-wrapper {
        border-top: $itemBorder !important;
    }

    .users-list-filter {
        border-top: $itemBorder !important;
        border-bottom: $itemBorder !important;

        .main-options-sel {
            height: 47px !important;

            .option-icon {
                color: $color !important;
                background: $background !important;

                i {
                    color: $color !important;
                }
            }

            #content {
                background: $itemBackground !important;

                ul {
                    li:hover {
                        color: $titleHover !important;
                    }
                }
            }
        }
    }

    input {
        background: $itemBackground !important;
        color: $color !important;
        border: $itemBorder !important;
        height: 47px !important;

        &::placeholder {
            color: $color !important;
        }

        &:focus {
            border: $focusHover !important;
        }
    }

    #bigest {
        li {
            color: $color !important;
        }
    }


    .bottom-footer {
        border-top: $itemBorder;
        background: $itemBackground !important;
        color: $color !important;
        z-index: 999;

        #clear {
            color: $color !important;
        }
    }

    .se-wrapper-inner, .se-wrapper-wysiwyg, .sun-editor-editable {
        color: $color !important;
        background: $itemBackground !important;
    }


    .se-toolbar, .sun-editor-common {
        background: $itemBackground !important;
        color: $color !important;
    }

    .se-btn, .se-tooltip {
        color: $color !important;
    }

    textarea {
        background: $itemBackground !important;
        color: $color !important;
        border: $itemBorder !important;

        &::placeholder {
            color: $color !important;
        }

        &:focus {
            border: $focusHover !important;
        }
    }

    a {
        color: $color !important;

        &.activeUser {
            color: #00c853 !important;
        }

        &:hover span {
            color: $titleHover !important;
        }
    }

    label {
        color: $color !important;
    }

    a.moreOptions {
        ul {
            background: $itemBackground !important;
            border: $itemBorder !important;

            li::after {
                left: -15px !important;
                background: #464D5C !important;;
            }
        }
    }

    ul.flex-column {
        li {
            margin-bottom: 10px !important;

            a {
                background: $itemBackground !important;
                border: none !important;

                &.active {
                    border: none !important;
                    border-right: 3px solid $titleHover !important;
                }
            }
        }

    }

    .content-body {
        border-top: $itemBorder !important;
        margin-top: 0px !important;
        padding-top: 15px !important;
    }

    .content-header {
        margin: 0px 0px !important;
    }

    #theme_setting_component {
        border-top: $itemBorder !important;
    }

    .main-active-theme {
        background: $itemBackground !important;

        p {
            color: $color;
        }

        .big-img {
            background: #000 !important;

            .header {
                background: #000 !important;

                .sss {
                    background: $background !important;
                }
            }
        }

        .mid-img {
            background: #000 !important;

            .contents {
                background: $background !important;

            }

            span {
                background: $background !important;
            }
        }

        .min-img {
            background: #000 !important;

            .contents {
                background: $background !important;

            }

            span {
                background: $background !important;
            }
        }
    }

    .main-box-item {
        background: $itemBackground !important;

        #toppoint {
            background: $itemBackground !important;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $titleHover !important;
    }

    select.form-control {
        background: $itemBackground !important;
        border: $itemBorder !important;
        color: $color !important;

    }

    .card {
        background: $itemBackground !important;
        color: $titleHover !important;
    }

    .bg-authentication {
        background: $itemBackground !important;
    }

    .main-selected {
        background: $itemBackground !important;
        border: $itemBorder !important;
        color: $color !important;
        height: 47px !important;

        #box-droper {
            background: $background !important;
            height: 44px !important;
            border-radius: 5px !important;
        }

        .optionBox {
            background: $itemBackground !important;
        }
    }

    .main-options-sel {
        color: $color !important;
        border: $itemBorder !important;
        background-color: #272E48 !important;
    }

    .verifyForm {
        color: $color !important;
        background-color: #272E48 !important;
    }

    .main-menu {
        background: $background !important;
        color: $color !important;

        .main-menu-content {
            background: $background !important;
            color: $color !important;
        }

        .nav-item.has-sub.open {
            border-radius: 0.267rem !important;
            border: $itemBorder !important;
            background-color: #272E48 !important;

            .menu-content {
                background-color: #272E48 !important;
            }
        }

        .nav-item.has-sub {
            min-height: 45px !important;
            border-radius: 0.267rem !important;
            border: $itemBorder !important;
            background-color: #272E48 !important;
            margin-bottom: 10px !important;

            .menu-content {
                background-color: #272E48 !important;

            }
        }

        .navigation-main {
            background: $background !important;
            color: $color !important;
        }

        .navbar-header {
            ul {
                background: $background !important;
                color: $color !important;
            }

            background: $background !important;
            color: $color !important;
        }
    }

    .page-link {
        background: $itemBackground !important;
    }

    .checkboxeds {
        color: $itemBackground !important;

        &.active {
            color: #fff !important;
        }
    }

    .switch-container {
        border: $itemBorder !important;
        color: $color !important;

        .showState {
            color: $color !important;
        }

        .showMenu {
            color: $color !important;
        }
    }

    #li-div {
        background: $itemBackground !important;
        color: $color !important;
    }

    .chips_input {
        background: $background !important;

        &:focus {
            border: unset !important;
        }
    }

    .nav.nav-tabs {
        border: unset !important;
    }

    .AddressType {
        color: $color !important;
    }

    .fucks {
        background: $itemBackground !important;
        cursor: not-allowed !important;
    }

    .nav-link {
        color: $color !important;

        &.active {
            color: $titleHover !important;
            border-bottom: 3px solid $titleHover !important;

            .align-middle {
                color: $titleHover;
            }
        }
    }

    .nav.nav-tabs.tab-layout {
        background: $itemBackground !important;
        border-radius: 0px !important;

        &.active {
            color: $color !important;
            border-bottom: 3px solid $color !important;
        }
    }


    .chip {
        background: $itemDarkLigth !important;

        .chip-text {
            color: $color !important;
        }

        .chip-closeable {
            background: $background !important;
        }
    }

    #chip-box {
        border: $itemBorder !important;
    }

    .content-pages {
        background: $background !important;
    }

    a#password-tab {
        color: #000 !important;

        &:hover span {
            color: #000 !important;
        }

        &.active {
            color: #fff !important;;
            border-bottom: none !important;

            &:hover span {
                color: #fff !important;
            }
        }
    }

    a#account-tab {
        color: #000 !important;

        &:hover span {
            color: #000 !important;
        }

        &.active {
            color: #fff !important;;
            border-bottom: none !important;

            &:hover span {
                color: #fff !important;
            }
        }
    }

    .item-product {
        background: $itemBackground !important;

        .image {
            background: $itemDarkLigth;
        }

        ul {
            li {
                p {
                    color: $color !important;
                }

                border-bottom: $itemBorder !important;
            }

            li:nth-child(2) {
                span:nth-child(1) {
                    font-size: 16px;
                }

                span:nth-child(2) {
                    h5 {
                        color: $color !important;
                    }
                }

                color: $color !important;
                border-bottom: unset !important;
            }
        }

        label {
            background: unset !important;
        }
    }

}


.tab-content {
    #catdetail {
        max-height: 72vh !important;
        width: 100%;
        overflow-y: scroll;
    }
}

li.nav-item i {
    display: none !important;
    visibility: hidden !important;
}
