@media screen and (max-width: 600px) {
    #shop_product_search {
        visibility: hidden;
        clear: both;
        display: none;
    }

    .float-btn-add{
        display: block !important;
    }
    button{
        span.align-middle{
            display: block !important;
            visibility: visible !important;
        }
    }

    .switch-container{
        ul{
            li{
                font-size: 12px;
                line-height: 3.7;
            }
        }
    }

    .main-options-sel #content{
        top: -90px !important;
    }

    #li-div {
        &.mini {
            height: auto !important;

            div#sub-menu-custom {
                display: block;
                visibility: visible;
                opacity: 1;
                text-align: center;
                line-height: 2.4;
                left: 0;
                position: absolute;
                width: 50px;
                height: 40px;

                i {
                    width: 18px;
                    height: 18px;
                    transition: 0.3s all ease;
                    -webkit-transition: 0.3s all ease;
                    -moz-transition: 0.3s all ease;

                    &.active {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    #moreOpp {
        width: 100%;
        display: flex !important;
        background: none;
        align-items: center;
        height: 0px;
        z-index: -1;
        opacity: 0;
        justify-content: space-around;
        border-top: 1px solid #eaeaea;
        padding: 0px;
        transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;

        &.active {
            height: 35px;
            z-index: 1;
            padding-top: 8px;
            margin-top: 10px;
            opacity: 1;
        }
    }

    #navbar-mobile.navbar-collapse .navbar-nav .dropdown-menu {
        z-index: 9999;
    }
    .align-middle {
        display: none !important;
        visibility: hidden !important;
    }


    li.nav-item i {
        opacity: 1 !important;
        display: block !important;
        visibility: visible !important;

    }

    #visible-custom {

        visibility: visible !important;
        display: block !important;
        opacity: 1 !important;
    }

    .main-active-theme {
        visibility: hidden;
        display: none;
    }
    .itemUserShow span a.role {
        max-width: 135px;
    }

    .bottom-tab-navigator {
        display: block;
    }
    #breadCrumb {
        display: none;
    }
    #headerContent {
        display: none;
    }
    li.nav-item i {
        display: block;
        visibility: visible;
    }

    #theme-item {
        width: 25% !important;
    }

    .header-form-option button {
        font-size: 10px !important;
    }

    .force {
        padding: 0px;
        width: 100% !important;
        height: auto;
    }

    .float-btn {
        display: block !important;
        visibility: visible !important;
    }
    .content-header {
        visibility: hidden;
        clear: both;
        display: none;
    }
    .optionBox.float_on {
        top: unset !important;
        bottom: 55px;
        z-index: -1;

    }
    .optionBox#selectedFilter {
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }
    .optionBox#options {
        visibility: hidden;

        &.active {
            visibility: visible;
        }
    }
    #actionGroup.actived {
        p {
            text-align: center;
            height: 55px;
            line-height: 4.3;
        }

        padding: 0px !important;
        height: 110px !important;
    }
    #action-btn {
        padding: 0px !important;

        .col-3 {
            visibility: hidden;
            clear: both;
            display: none;
        }
    }
    #mini-click-icons {
        visibility: visible;
        display: block;

    }

    .nav-link {
        i {
            display: block !important;
            visibility: visible !important;
        }
    }
    #icon-item-list {
        display: none !important;
    }

}

@media screen and (max-width: 1024px) {
    #shop_product_search {
        height: 185px;
    }

    div#sub-menu-custom {
        display: none;
        text-align: center;
        line-height: 2.4;
        opacity: 0;
        visibility: hidden;
    }
    #icon-item-list {
        display: block;
    }

    #moreOpp {
        display: none;
    }


    #visible-custom {
        visibility: visible !important;
        display: block !important;
        opacity: 1 !important;
    }


    li.nav-item i {
        opacity: 1 !important;
        display: block !important;
        visibility: visible !important;
    }


    .align-middle {
        display: none !important;
        visibility: hidden !important;
    }
    .nav-link {
        i {
            display: block !important;
            visibility: visible !important;
        }
    }

    .main-active-theme {
        visibility: hidden;
        display: none;
    }

    a.more-details {
        visibility: visible !important;
        display: block !important;
    }

    .users-list-filter {
        height: 100%;
    }
    #actionGroup.actived {
        p {
            text-align: center;
            height: 55px;
            line-height: 4.3;
        }

        height: 130px !important;
        padding: 0px 30px 0px 0px;
    }
}

@media screen and (max-width: 1600px) {
}


#moreOpp {
    display: none;
}

//    -------------  dark mode Emran  -------------
$background: #1a233a;
$color: #bdd1f8;
$itemBackground: #272E48;
$itemBorder: solid 1px #464D5C;
$title: #bdd1f8;
$titleHover: #00e5ff;
$focusHover: solid 1px #00e5ff;
$itemDarkLigth: #2e3652;
body.active-darked {
    background: $background !important;

    #back-loaderedss {
        .col-lg-4.col-sm-12.col-md-8 {
            background: $background !important;
        }
    }

    #page_box {
        border-top: unset !important;
    }

    li.showCommentStatus {
        color: $color !important;
    }

    li.is_index {
        color: $color !important;
    }

    #moreOpp {
        float: right;
        border-top: $itemBorder !important;
    }

    .bottom-tab-navigator {
        border-top: $itemBorder !important;

        ul {
            background: $itemBackground !important;
            color: $color !important;
        }
    }

    .manage-pro {
        .btn {
            color: #000000 !important;
        }

        .btn-primary {
            color: #fff !important;
        }
    }

    table {
        color: $color !important;

        tr {
            background: $itemDarkLigth !important;
        }

        th {
            color: $color !important;
        }
    }

    #category_add_pop_base {
        background: $background !important;
    }

    #back-loadered {
        #fetures {
            border: $itemBorder !important;
            background: $background !important;

            p {
                color: $color !important;
            }

            .bottom-btns {
                background: $itemDarkLigth !important;
                color: $color !important;
                border-top: $itemBorder !important;

                #btn-action {
                    border: $itemBorder !important;
                }
            }
        }
    }

    td#actions-item i#del-fet {
        color: $color !important;
    }

    #back-loaderedss {
        select {
            height: 45px !important;
        }

        #fetures {
            border: $itemBorder !important;
            background: $background !important;

            p {
                color: $color !important;
            }

            .bottom-btns {
                background: $itemDarkLigth !important;
                color: $color !important;
                border-top: $itemBorder !important;

                #btn-action {
                    border: $itemBorder !important;
                }
            }
        }
    }


    .custom-control-label {
        &::before {
            background: $itemDarkLigth;
        }
    }


    .deleteRecordButton {
        color: $color !important;
    }

    .checkbox {
        label {
            background: $itemBackground !important;
            color: $color !important;
        }
    }

    .dropdown-menu, .dropdown-menu-right, .show {
        background: $itemBackground !important;
        color: $color !important;

        .dropdown-item {
            color: $color !important;

            &:hover {
                background: $background !important;
            }
        }

        &::before {
            right: 20px !important;
            left: unset !important;
            margin: unset !important;
            background: $itemBackground !important;
        }
    }

    .dropdown-divider {
        border-top: $itemBorder !important;
    }

    .form-control.selectVal {
        background: $itemBackground !important;
        border: $itemBorder !important;
        color: $color !important;
    }

    a:hover span {
        color: $titleHover !important;
    }

    .dropdown-user-link {
        background: $background !important;

        &:focus {
            background: $background !important;
        }
    }

    .dropdown-user {
        .dropdown-menu {
            border: $itemBorder !important;

            &::before {
                width: 15px;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                content: '';
                background-color: $itemBackground !important;
                border: none;
                height: 10px;
                transform: rotate(0deg);
                top: -9px;
            }
        }
    }

    #breadCrumb {
        span {
            color: $color !important;
        }
    }

    .navbar-container {
        background: $background !important;
        color: $color !important;
    }

    #headerContent {
        background: $background !important;
        color: $color !important;
    }

    #chipset-container {
        background: $itemBackground !important;
        border: $itemBorder !important;

        input {
            border-radius: 0px !important;
            background: unset !important;
            border: unset !important;
            margin-top: 3px !important;
            float: right;
        }
    }

    .itemUserShow {
        background: $itemBackground !important;
        color: $color !important;
        border: $itemBorder !important;
    }

    .content-wrapper {
        border-top: $itemBorder !important;
    }

    .users-list-filter {
        border-top: $itemBorder !important;
        border-bottom: $itemBorder !important;

        .main-options-sel {
            height: 47px !important;
            color: $color !important;
            border: $itemBorder !important;
            background-color: #272E48 !important;

            #header-options {
                .option-icon {
                    i {
                        color: $color !important;
                    }
                }
            }

            .option-icon {
                color: $color !important;
                background: $background !important;

                i {
                    color: $color !important;
                }

                span#selected {
                    a {
                        border: none !important;
                    }
                }
            }

            #header-options #content {
                background: $itemBackground !important;

                ul {
                    li:hover {
                        color: $titleHover !important;
                    }
                }
            }
        }
    }

    input {
        background: $itemBackground !important;
        color: $color !important;
        border: $itemBorder !important;
        height: 47px !important;

        &::placeholder {
            color: $color !important;
        }

        &:focus {
            border: $focusHover !important;
        }
    }

    #bigest {
        li {
            color: $color !important;
        }
    }


    .bottom-footer {
        border-top: $itemBorder;
        background: $itemBackground !important;
        color: $color !important;
        z-index: 999;

        #clear {
            color: $color !important;
        }
    }

    .se-wrapper-inner, .se-wrapper-wysiwyg, .sun-editor-editable {
        color: $color !important;
        background: $itemBackground !important;
    }


    .se-toolbar, .sun-editor-common {
        background: $itemBackground !important;
        color: $color !important;
    }

    .se-btn, .se-tooltip {
        color: $color !important;
    }

    textarea {
        background: $itemBackground !important;
        color: $color !important;
        border: $itemBorder !important;

        &::placeholder {
            color: $color !important;
        }

        &:focus {
            border: $focusHover !important;
        }
    }

    a {
        color: $color !important;

        &.activeUser {
            color: #00c853 !important;
        }

        &:hover span {
            color: $titleHover !important;
        }
    }

    label {
        color: $color !important;
    }

    span#inRespo {
        border-left: unset !important;
    }

    #back-loader-detail .more-detail-user {
        span#close {
            background: $itemDarkLigth !important;
            color: $color !important;
            z-index: 999;
        }

        li#status {
            .checkActivate {
                color: #000 !important;
            }
        }

        .content {
            border-radius: 10px 10px 0 0 !important;
            background: $itemBackground !important;
            color: $color !important;
        }
    }

    .moreOptions {


        ul {
            background: $itemBackground !important;
            border: $itemBorder !important;

            li::after {
                left: -15px !important;
                background: #464D5C !important;;
            }
        }
    }

    ul.flex-column {
        li {
            margin-bottom: 10px !important;

            a {
                background: $itemBackground !important;
                border: none !important;

                &.active {
                    border: none !important;
                    border-right: 3px solid $titleHover !important;
                }
            }
        }

    }

    .content-body {
        border-top: $itemBorder !important;
        margin-top: 0px !important;
        padding-top: 15px !important;
    }

    .content-header {
        margin: 0px 0px !important;
    }

    #theme_setting_component {
        border-top: $itemBorder !important;
    }

    .main-active-theme {
        background: $itemBackground !important;

        p {
            color: $color;
        }

        .big-img {
            background: #000 !important;

            .header {
                background: #000 !important;

                .sss {
                    background: $background !important;
                }
            }
        }

        .mid-img {
            background: #000 !important;

            .contents {
                background: $background !important;

            }

            span {
                background: $background !important;
            }
        }

        .min-img {
            background: #000 !important;

            .contents {
                background: $background !important;

            }

            span {
                background: $background !important;
            }
        }
    }

    .main-box-item {
        background: $itemBackground !important;

        #toppoint {
            background: $itemBackground !important;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $titleHover !important;
    }

    select.form-control {
        background: $itemBackground !important;
        border: $itemBorder !important;
        color: $color !important;

    }

    .card {
        background: $itemBackground !important;
        color: $titleHover !important;
    }

    .bg-authentication {
        background: $itemBackground !important;
    }

    .main-selected {
        background: $itemBackground !important;
        border: $itemBorder !important;
        color: $color !important;
        height: 47px !important;

        #box-droper {
            background: $background !important;
            height: 44px !important;
            border-radius: 5px !important;
        }

        .optionBox {
            background: $itemBackground !important;
        }
    }


    .verifyForm {
        color: $color !important;
        background-color: #272E48 !important;
    }

    .main-menu {
        background: $background !important;
        color: $color !important;
        border: $itemBorder !important;

        .main-menu-content {
            background: $background !important;
            color: $color !important;
        }

        .nav-item.has-sub.open {
            border-radius: 0.267rem !important;
            border: $itemBorder !important;
            background-color: #272E48 !important;

            .menu-content {
                background-color: #272E48 !important;
            }
        }

        .nav-item.has-sub {
            min-height: 45px !important;
            border-radius: 0.267rem !important;
            border: $itemBorder !important;
            background-color: #272E48 !important;
            margin-bottom: 10px !important;

            .menu-content {
                background-color: #272E48 !important;

            }
        }

        .navigation-main {
            background: $background !important;
            color: $color !important;
        }

        .navbar-header {
            border: $itemBorder !important;

            ul {
                background: $background !important;
                color: $color !important;
            }

            background: $background !important;
            color: $color !important;
        }
    }

    .page-link {
        background: $itemBackground !important;
    }

    .checkboxeds {
        color: $itemBackground !important;

        &.active {
            color: #fff !important;
        }
    }

    .checkboxed.priceee {
        color: $background !important;

        &.active {
            color: #fff !important;
        }
    }

    .switch-container {
        border: $itemBorder !important;
        color: $color !important;

        .showState {
            color: $color !important;
        }

        .showMenu {
            color: $color !important;
        }
    }

    #li-div {
        background: $itemBackground !important;
        color: $color !important;
    }

    .chips_input {
        background: $background !important;

        &:focus {
            border: unset !important;
        }
    }

    .nav.nav-tabs {
        border: unset !important;
    }

    .AddressType {
        color: $color !important;
    }

    #category_box{
        border-top: unset !important;
    }

    .fucks {
        background: $itemBackground !important;
        cursor: not-allowed !important;
    }

    .nav-link {
        color: $color !important;

        &.active {
            color: $titleHover !important;
            border-bottom: 3px solid $titleHover !important;

            .align-middle {
                color: $titleHover;
            }
        }
    }

    .nav.nav-tabs.tab-layout {
        background: $itemBackground !important;
        border-radius: 0px !important;

        &.active {
            color: $color !important;
            border-bottom: 3px solid $color !important;
        }
    }


    .chip {
        background: $itemDarkLigth !important;

        .chip-text {
            color: $color !important;
        }

        .chip-closeable {
            background: $background !important;
        }
    }

    #chip-box {
        border: $itemBorder !important;
    }

    .content-pages {
        background: $background !important;
    }

    #headerContent{
        border-bottom: $itemBorder;
    }
    a#password-tab {
        color: #000 !important;

        &:hover span {
            color: #000 !important;
        }

        &.active {
            color: #fff !important;;
            border-bottom: none !important;

            &:hover span {
                color: #fff !important;
            }
        }
    }

    a#account-tab {
        color: #000 !important;

        &:hover span {
            color: #000 !important;
        }

        &.active {
            color: #fff !important;;
            border-bottom: none !important;

            &:hover span {
                color: #fff !important;
            }
        }
    }

    .item-product {
        background: $itemBackground !important;

        .image {
            background: $itemDarkLigth;
        }

        ul {
            li {
                p {
                    color: $color !important;
                }

                border-bottom: $itemBorder !important;
            }

            li:nth-child(2) {
                span:nth-child(1) {
                    font-size: 16px;
                }

                span:nth-child(2) {
                    h5 {
                        color: $color !important;
                    }
                }

                color: $color !important;
                border-bottom: unset !important;
            }
        }

        label {
            background: unset !important;
        }
    }

    .not-alloweds {
        cursor: not-allowed !important;

        &:hover {
            color: $color !important;
            cursor: not-allowed !important;
        }
    }

    a#add-future {
        color: #fff !important;
    }

    .content-pages {
        color: $color;
    }

    #form-group-chipset {
        border: none !important;
    }

    .is-invalid {
        border-color: #FF5B5C !important;
    }

    .dropzones {
        box-shadow: inset 0 0 3px 2px rgb(0 0 0 / 30%) !important;
        border-radius: 5px !important;
    }

    .sketch-picker {
        background: $background !important;
    }

    #btn-color-picker {
        border-top: $itemBorder !important;
        background: $itemBackground !important;
        color: $color !important;

        .col-6 {
            background: $itemBackground !important;
        }

        .col-6:first-child {
            border-left: $itemBorder !important;
        }
    }

    .main-options-sel {
        #content {
            background: $itemBackground !important;
            color: $color;

            li:hover {
                color: $titleHover !important;
            }
        }

        .option-icon {
            background: $background !important;
        }

        a {
            background: $itemDarkLigth !important;
            border: $itemBorder !important;

        }
    }

    .search-input-float {
        background: $itemBackground !important;

        input {
            border: unset !important;

            &:focus {
                border: unset !important;
            }
        }
    }

    .top-table-input {
        background: none !important;
        border: none !important;
        height: 30px !important;
        color: $color !important;

        &:focus {
            border: $itemBorder !important;
        }
    }

    .main-options-sel #header-options .option-icon {
        color: $color !important;

        &:hover {
            color: $color !important;
        }
    }

    .filter-content-fix {
        background: #3c445a !important;
    }

    .main-options-sel #selected {
        border-radius: 5px !important;
        color: $color !important;
        height: 45px !important;
        background: $itemBackground !important;

        a i {
            background: $background !important;
            border: none !important;
        }
    }

    .main-options-sel{
        margin-bottom: unset !important;
        background: unset !important;
        border : $itemBorder !important;
        .option-icon{
            i{
                color: $color !important;
            }
        }
    }

    .productsss {
        height: auto !important;
    }

    .feture-color {
        float: right;
        height: 30px !important;
        width: 30px !important;
        box-shadow: unset !important;
        padding: 0px;
        border: unset !important;
        float: right;
        margin: 4px !important;
    }


    .table td {
        padding: 10px !important;
    }


    .pagination {
        li {
            width: 40px !important;
            height: 40px !important;
            margin-left: 5px;
            text-align: center;

            a {
                width: 40px !important;
                height: 40px !important;
                border-radius: 50px !important;
                line-height: 1.9;
                color: $color;

                i {
                    color: $color;
                }
            }
        }

        .page-item.numberss {
            &.active {
                background: $itemBackground !important;
                border-radius: 50px !important;
                transition: 0.3s all ease !important;
                box-shadow: inset 0 0 3px 2px rgb(0 0 0 / 80%);

                &:hover {
                    background: $itemDarkLigth !important;
                    color: $color !important;
                    border-radius: 50px !important;

                }
            }

            &:hover {
                background: $itemDarkLigth !important;
                border-radius: 50px !important;
                color: #fff !important;
            }

            .page-link {
                background: unset !important;
            }
        }
    }


    .backLoadings {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        background-color: rgb(26 35 58 / 75%);
        z-index: 99;

        #loading-load {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0;
            bottom: 0px;
            margin: auto;
        }
    }

    div#sub-menu-custom {
        background-image: linear-gradient(to right, #272e48, #272e4866) !important;
    }

    #prices {
        color: $color !important;
        background: $background !important;
        border: $itemBorder !important;

        .bottom-btns {
            background: $itemBackground !important;
            border: $itemBorder !important;
            color: $color !important;

            .btn-action {
                border-left: $itemBorder !important;
                color: $color !important;
            }
        }
    }

    .chips_input.form-control.connnn {
        border: none !important;
    }

    #content-manager {
        border-top: $itemBorder !important;
    }

    #shop_product_manager {
        border-top: $itemBorder !important;
    }

}


.tab-content {
    #catdetail {
        max-height: 72vh !important;
        width: 100%;
        overflow-y: scroll;
    }
}

a.nav-link i {
    display: none !important;
    visibility: hidden !important;
}

#price {
    input {
        text-align: center;
    }
}

.checkboxed.active {
    width: 20px;
    height: 20px;
}

#discount#input-dis {
    height: 45px !important;
    text-align: center !important;
    cursor: not-allowed !important;
}


#back-loaderedss {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0px;
    right: 0px;
    display: none;
    z-index: 99999999;

    select {
        height: 45px !important;
    }

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#content-manager {
    border-top: 1px solid #eee;
}

.bottom-footer {
    z-index: 9999;
}

.navbar-container.content {
    background: #fff;
}

.top-table-input {
    background: none !important;
    border: none !important;
    height: 30px !important;
    color: #fff !important;
}

.productsss {
    height: auto !important;
}

.feture-color {
    float: right;
    height: 30px !important;
    width: 30px !important;
    box-shadow: unset !important;
    padding: 0px;
    border: unset !important;
    float: right;
    margin: 4px !important;
}

.table td {
    padding: 10px !important;
}

.not-alloweds {
    cursor: not-allowed !important;

    &:hover {
        color: $color !important;
        cursor: not-allowed !important;
    }
}

#headerContent #breadCrumb span#icon a span {
    line-height: 2.3 !important;

    &:hover {
        color: $color !important;
    }
}

.main-options-sel #selected a i {
    float: left !important;
    margin-left: -5px !important;
    margin-right: 10px;
}

//td#color-col{
//    //align-items: center;
//    //justify-content: center;
//    //display: flex;
//    //width: auto !important;
//}

.pagination.pagination-borderless .page-item.next .page-link, .pagination.pagination-borderless .page-item.previous .page-link {
    background: unset !important;
    border-radius: 50px !important;
}





.pagination {
    li {
        width: 40px !important;
        height: 40px !important;
        margin-left: 5px;
        text-align: center;

        a {
            width: 40px !important;
            height: 40px !important;
            border-radius: 50px !important;
            line-height: 1.9;
            color: $background;

            i {
                color: $itemBackground;
            }
        }
    }

    .page-item.numberss {
        &.active {
            background: #01579b !important;
            border-radius: 50px !important;

            &:hover {
                background: #01579b !important;
                color: #fff !important;
                border-radius: 50px !important;

            }
        }

        &:hover {
            background: #01579b !important;
            border-radius: 50px !important;
            color: #fff !important;
        }

        .page-link {
            background: unset !important;
        }
    }
}

.backLoadings {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #f2f4f482;
    z-index: 99;

    #loading-load {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0;
        bottom: 0px;
        margin: auto;
    }
}

.float-btn-add {
    width: 50px;
    height: 50px;
    display: none;
    background: rgb(13, 71, 161);
    position: fixed;
    bottom: 75px;
    left: 25px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    z-index: 99999;
    line-height: 3.7;
    box-shadow: 0 0 5px 3px rgb(0 0 0 / 40%);
    border-radius: 100%;
    margin-bottom: 10px;
}
div#sub-menu-custom {
    display: none;
    text-align: center;
    line-height: 2.4;
    opacity: 0;
    background-image: linear-gradient(to right, #ffffff, #ffffff66);;
    visibility: hidden;
}
