@media screen and (max-width: 600px) {
    #shop_product_search {
        visibility: hidden;
        clear: both;
        display: none;
    }

    li.nav-item i{
        display: block;
        visibility: visible;
    }
    li.nav-item span{
        display: none;
        visibility: hidden;
    }
    .float-btn{
        display: block;
        visibility: visible;
    }
    .content-header {
        visibility: hidden;
        clear: both;
        display: none;
    }
    .optionBox{
        top : unset !important;
        bottom: 55px;
        z-index: -1;

    }
    .optionBox#selectedFilter{
        visibility: hidden;
        &.active{
            visibility: visible;
        }
    }
    .optionBox#options{
        visibility: hidden;
        &.active{
            visibility: visible;
        }
    }
    #actionGroup.actived {
        p {
            text-align: center;
            height: 55px;
            line-height: 4.3;
        }
        padding: 0px !important;
        height: 110px !important;
    }
    #action-btn {
        padding: 0px !important;

        .col-3 {
            visibility: hidden;
            clear: both;
            display: none;
        }
    }
    #mini-click-icons {
        visibility: visible;
        display: block;

    }

}

@media screen and (max-width: 1024px) {
    #shop_product_search {
        height: 185px;
    }

    .users-list-filter{
        height: 100%;
    }
    #actionGroup.actived {
        p {
            text-align: center;
            height: 55px;
            line-height: 4.3;
        }
        height: 130px !important;
        padding: 0px 30px 0px 0px;
    }
}

@media screen and (max-width: 1600px) {
}

