.action-tools {
    height: 100%;
    width: 330px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    ul {
        display: block;
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;

        li {
            width: 70px;
            float: right;
            margin-left: 12px;
            height: 70px;
            margin-bottom: 10px;
            background: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #ccc;

            p {
                margin: 0px !important;
                font-size: 11px;
            }

            i {
                font-size: 27px;
            }

            &:hover {
                box-shadow: 0 0 3px 2px rgb(0 0 0 / 20%);
                transition: 0.3s all ease;
            }
        }
    }
}

#myTabContentMD {
    padding: 20px 0 !important;
    margin: 0px;
}

#formCreator {
    height: 55px;
    border-bottom: 2px solid #e7e7e7;
    li.nav-item {
        margin: 0px;
        font-size: 11px;
        line-height: 3.2;
        padding: 0px !important;
        background: none;
        transition: none !important;
        text-align: center;

        a {
            background: none;
            border-radius: 0px;
            transition: 0.3s all ease !important;
            border-bottom: 2px solid #e7e7e7;


            &.active {
                color: #475F7B;
                background: none;
                border-bottom: 2px solid #5a8dee;
                transition: 0.3s all ease !important;
            }
        }
    }
}

.action-content {
    width: 100%;
    background: #fff;
    margin-top: 8px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.box-image-desc {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 80%;
        border-radius: 5px;
        height: 200px;
        position: relative;
        border: 1px solid #ccc;

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        p {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
            height: 30px;
            margin: auto;
            text-align: center;
        }
    }
}

.element-chose {
    padding: 7px;
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    border: 1px dashed #ccc;

    p {
        width: 100%;
        height: 30px;
    }
    input::placeholder{
        text-align: right !important;
    }
}

.header-form-option {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin:0px 0px 15px 0px;
    padding: 0px 10px;
    .col-4{
        padding:0px 5px 0 0 ;
        margin: 0px;
    }
    button {
        font-size: 12px;
        width: 100% !important;
    }
}

.main-sticky{
    width: 100%;
    height: 800px;
    position: static;
    #mainens{
        width: 100%;
        height: 150px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: yellow;
        padding: 50px;
        font-size: 20px;
    }
}

.flexiable{
    position: sticky;
    top: 0;
}
