.action-tools {
    height: 100%;
    width: 330px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    ul {
        display: block;
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;

        li {
            width: 70px;
            float: right;
            margin-left: 12px;
            height: 70px;
            margin-bottom: 10px;
            background: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #ccc;

            p {
                margin: 0px !important;
                font-size: 11px;
            }

            i {
                font-size: 27px;
            }

            &:hover {
                box-shadow: 0 0 3px 2px rgb(0 0 0 / 20%);
                transition: 0.3s all ease;
            }
        }
    }
}

#myTabContentMD {
    padding: 20px 10px !important;
    margin: 0px;
}

#formCreator {
    height: 55px;
    border-bottom: 2px solid rgba(0,0,0,0);
    li.nav-item {
        margin: 0px;
        font-size: 11px;
        line-height: 3.2;
        padding: 0px !important;
        background: none;
        transition: 0.3s all ease !important;
        text-align: center;

        a {
            background: none;
            border-radius: 0px;
            transition: 0.3s all ease !important;
            border-bottom: 2px solid rgba(0,0,0,0);


            &.active {
                color: #475F7B;
                background: none;
                border-bottom: 2px solid #5a8dee;
                transition: 0.3s all ease !important;
            }
        }
    }
}

.action-content {
    width: 100%;
    background: #fff;
    margin-top: 8px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.box-image-desc {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 80%;
        border-radius: 5px;
        height: 200px;
        position: relative;
        border: 1px solid #ccc;

        input {
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        p {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
            height: 30px;
            margin: auto;
            text-align: center;
        }
    }
}

.element-chose {
    padding: 7px;
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    border: 1px dashed #ccc;

    p {
        width: 100%;
        height: 30px;
    }
    input::placeholder{
        text-align: right !important;
    }
}

.header-form-option {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin:0px 0px 15px 0px;
    padding: 0px 10px;
    .col-4{
        padding:0px 5px 0 0 ;
        margin: 0px;
    }
    button {
        font-size: 12px;
        width: 100% !important;
    }
}

.main-sticky{
    width: 100%;
    height: 800px;
    position: static;
    #mainens{
        width: 100%;
        height: 150px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: yellow;
        padding: 50px;
        font-size: 20px;
    }
}

.flexiable{
    position: sticky;
    top: 0;
}
.cont{
    width: 100%;
    height: 900px;
    background: #f00;
    .stick{
        width: 100px;
        height: 200px;
        background: #000;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
#form-builder-cat-manage{
    transform: translateY(-20px) !important;
    opacity: 0;
    transition: 0.3s all ease;
    height: auto;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    &.active{
        opacity: 1;
        transform: translateY(0px) !important;
        transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
    }

}
.form-category-back{
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    .top-add-cat{
        width: 100%;
        position: relative;
        height: 50px;
        padding: 8px;
        float: right;
        border-bottom: 1px solid #eee;
        input{
            width: 100%;
            height: 30px !important;
            border: none;
            margin-right : 45px;
            color: grey;
            &::placeholder{
                text-align: right;
                color: #ccc;
            }
        }
        span{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 48px;
            border-radius: 5px;
            background: #fff;
            text-align: center;
            line-height: 3.9;
            cursor: pointer;
            i{
                font-size: 25px;
            }
        }
    }

    .content-cat{
        width: 100%;
        height: auto;
        height: 250px;
        overflow-y: scroll;
        float: right;
        width: 100%;
        margin: 0px;
        p#none-object{
            padding-top: 10px;
            text-align: center;
        }

        ul{
            padding : 10px !important;
           height: 100%;
            width: 100%;
            float: right;
            list-style: none;

            li{
                width: 100%;
                margin-bottom: 10px;
                height: 40px;
                border-radius: 5px;
                transition: 0.3s all ease;
                -webkit-transition: 0.3s all ease;
                -moz-transition: 0.3s all ease;
                &:hover{
                    transition: 0.3s all ease;
                    transform: scale(1.01);
                    -webkit-transition: 0.3s all ease;
                    -moz-transition: 0.3s all ease;
                    box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
                }
                p#cat-title-show{
                    width: 80%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    float: right;
                    padding-right: 9px;
                    font-size: 13px;
                    line-height: 2.7;

                }
                div#action-cat{
                    width: 14%;
                    height: 40px;
                    float: left;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    i{
                        cursor: pointer;
                        &:hover{
                            color : blue;
                        }
                    }
                }
            }
        }
    }
}

#not-selected{
    text-align: center;
}

#between-answer{
    margin: 0px;
    font-size: 11px;
    line-height: 2.7;
    color: grey;
    float: right;
    width: 50%;
    text-align : left;
}
