#header-card-custom
{
    border-radius:  5px 5px 0px 0px !important;
    margin-bottom: 0px !important;
    padding: 10px 0px 5px 0 !important;
}
#icon-delete-list{
    padding: 0px !important;
    float: left !important;
    margin-left: -20px !important;
    margin-top: 2px !important;
}
.page-item{
    cursor: pointer !important;
}
input::placeholder{
    font-size: 13px !important;
}
#spinner-loading{
    padding: 10px;
    margin-right: 20px;
}
