.form-group {
    input {
        text-align: right !important;

        &::placeholder {
            text-align: right !important;
        }
    }
}

.checkbox-mini{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #dfe3e7;
    span{
        float: right;
        margin-top: 15px;
        font-size: 13px;
        margin-right: 10px;
    }
}
.formcreator-switch{
    width: 35%;
    position: relative;
    height: 40px;
    border: unset;
    border-radius: 5px;
    padding: 2px;
    font-size: 11px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.custom-switch{
    float: left;
    margin-top : 3px;
}
