@mixin transition {
    transition: .3s all ease;
    -moz-transition: .3s all ease;
    -webkit-transition: .3s all ease;
}

.switch-container{
    width: 100%;
    position: relative;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    float: right;
    #checked{
        position: absolute;
        left: 0;
        top: 0px;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
    }
    ul{
        padding: 0px;
        list-style: none;
        margin: 0px;
        height: 100%;
        li{
            text-align: center;
            line-height: 3;
            cursor: pointer;
            width: 50%;
            color: #000;
            float: right;
            height: 100%;
            border-radius: 5px;
            &.active{
                color: #000;
                cursor: pointer !important;
                transition: 0.3s all ease;
                &.act{
                    cursor: pointer !important;
                    color: #fff !important;
                    background: #32a672 !important;
                }
            }
            &.deactive{
                color: #000;
                cursor: pointer !important;
                transition: 0.3s all ease;
                &.act{
                    color: #fff;
                    background: #EC6060 !important;
                    cursor: pointer !important;
                }
            }
        }
    }
}

#file{
    width: 100%;
    height: 55px;
    position: relative;
    overflow: hidden;
    #select-files{
        position: absolute;
        bottom: -15px;
        height: 55px;
        width: 100%;
    }
}
.ql-editor.ql-blank
{
    min-height: 250px !important;
}
.bottom-footer{
    position: fixed;
    bottom: 0px;
    background: #ececec;
    border-left: 1px solid #000;

    span{
        text-align: center !important;
        line-height: 4.5;
    }
}

.form-control#selectParent{
    height: 55px !important;
}
input#title{
    height: 55px !important;
}

.alert.alert-primary{
    background: #e9f5fb !important;
    color: #38A9E0 !important;

}

.content-pages{
    position: fixed;
    top: 71px;
    width: 100%;
    bottom: 67px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.switch-container{
    ul#bigest{
        li{
            width: 33.3%;
            float: right;
            position: relative;
            input{
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0px;
                z-index: 9;
                opacity: 0;
            }
        }
    }
}

select > option{
    height: 50px !important;
    min-height: 50px !important;
}

.dropzone{
    min-height : 200px !important;
    width : 100% !important;
}
.container.dropzones{
    padding: 0px !important;
    margin: 0px !important;
    max-width: 100% !important;
}

.main-selected{
    width: 100%;
    height: 50px;
    border: 1px solid #dfe3e7;
    border-radius: 5px;
    position: relative;
    i{
        height: 20px !important;
        width: 20px !important;
        left: 15px !important;
        top: 0px !important;
        position: absolute;
        font-size: 25px;
        bottom: 0px !important;
        transform: rotate(0);
        margin : auto 0 !important;
        @include transition;
        &.active{
            transform: rotate(180deg);
            @include transition;
        }
    }
    .optionBox{
        width: 100%;
        min-height: 50px;
        max-height: 300px;
        overflow-y: scroll;
        position: absolute;
        top: 50px;
        right: 0px;
        padding: 0px;
        z-index: 9;
        box-shadow: 0 3px 6px 2px rgb(0 0 0 / 15%);
        background: #fff;
        border-radius: 5px;
        top: 55px;
        ul{
            width: 100%;
            float: right;
            height: auto;
            padding : 10px;
            margin: 0px;
            list-style: none;
            li{
                width: 100%;
                padding : 0px;
                min-height: 30px;
                position: relative;
                float: right;
                label#labels{
                    margin-right : 15px;
                    float: right;
                    margin-top: -6px;
                    font-size: 18px;
                    font-weight: 400;
                }
                input[type=radio], input[type=checkbox]{
                    width: 20px !important;
                    height: 20px !important;
                    margin-right: 10px;
                    float: right;
                }
            }
        }
    }
}
