#selectedSearch
{
    width: 95px !important;
    font-size: 14px;
    margin-right: 10px !important;
    line-height: 2.3;
}
span#labels{
    margin-right: 10px !important;
}
.show-chipset-multi.optionss{
    width: 100% !important;

    ul#options{
        li{
            width: 100%;
            height: 35px;
            font-size: 14px;
            line-height: 2.3;
            cursor: pointer;
        }
    }
}
#sorting{
    width: 100%;
    height: 100%;
    float: right;
    line-height: 3;
    padding: 0 15px;
}
.show-chipset-multi{
    width: 82% !important;
}
#search_input{
    text-align: right !important;
    height: 50px;
}
#search_input::placeholder{
    text-align: right;
}

.element-chose
{
    span#element{
        padding: 5px;
        width: 50% !important;
        height: auto;
    }
    span#elementBig{
        width: 100% !important;
        height: auto;
    }
}
.formcreator.active{
    height: auto !important;
    max-height: 250px;
    color : #475F7B !important;
    span.checkboxeds{
        width : 20px !important;
        height : 20px !important;
    }
}
.formcreatordroper i{
    color: #475F7B;
    &.active{
        width: 25px !important;
        height: 25px !important;
    }
}

#form-creator-p{
    font-size: 11px;
    color: #475F7B;
    margin: 2px;
    padding: 0px;
    line-height: 2.9;
}

input{
    height: 50px !important;
}

input.formcreator{
    background: #eee !important;
}
textarea.formcreator{
    background: #eee !important;
}
.formcreatorss {
    color : #475F7B;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px !important;
    span{
        width : 97% !important;
    }

}
