@mixin transition{
    transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
.active{
    width: 100%;
    height: 100%;
    @include transition;
}
