#reset{
    cursor: pointer;
    text-align: center;
    border-left: 1px solid #a9a9a9;
}
.fileInput{
    opacity: 0 !important;
    zIndex: 999 !important;
    height: 100% !important;
    position: absolute !important;
    cursor: pointer;
}
